/*
style.css
Berend Nannes
Programmeerproject
*/

body {
  font-family: verdana;
  margin: auto;
  position: relative;
  height:100%;
}

h1 {
  width: 900px;
  text-align: center;
}

p {
  font-size: 15px;
}

#headerBar {
  width: 700px;
  height: 40px;
}

#navigation {
  float: left;
  width: 300px;
  height: 100%;
}

#clue {
  float: right;
  width: 350px;
  height: 100%;
  font-size: 18px;
}

#dataVis {
  width: 1200px;
  border: none;
  height: 610px;
}

#mapContainer {
  position: relative; 
  width: 700px;
  height: 600px;
  background-color: white;
  float: left;
}

#scaleContainer {
  position: absolute;
  bottom: 0px;
  left: 175px;
  width:300px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-left: 12px;
}

#infoContainer {
  float: right;
  width: 500px;
  height: 600px;
}

#topRowInfo {
  height: 300px;
}

#countryContainer {
  width: 50%;
  padding-left: 25px;
  float: left
}

#pieContainer {
  padding-left: 100px;
}

.arc path {
  stroke: none;
}

.legend rect {
  fill:white;
  stroke:none;}

#lineContainer {
  padding-left: 20px;
  padding-top: 20px;
  height: 300px;
}

#mainInfo {
  padding: 30px;
  width: 1200px;
}

#sourcesTable {
  width: 1140px;
}

.sourceCol {
  width: 228px;
  padding: 10px;
  vertical-align: top;
}

.line { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
	
.axis path, 
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 12px;
}
.axis--x path {
  stroke-width: 1;
}

#bottomtext {
  width: 100%;
  height: 80px;
  background-color: #eee;
}

.infoText {
  width:1000px;
  padding:30px;
}

.hoverinfo {
  font: 12px sans-serif;
}

.tooltip {
  position: relative;
  font-family: verdana;
  top: 450px;
  z-index: 1;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}

.focusCircle {
  fill: black;
}

#yearCircle {
  fill: green;
  stroke: white;
  stroke-width: 2;
}

#mainVis {
  width: 1000px;
  height: 350px;
}

.chart rect {
  fill: steelblue;
}

.chart rect:hover {
  fill: green;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

#barchartContainer {
  width: 500px;
}

.barTool {
  position:absolute;
  font: 11px verdana;
  background: #eee;
  border-radius: 30px;
  padding: 10px;
}


.bottomtext {
  position: absolute;
  width: 1000px;
  bottom: 11px;
  font-size: 10px;
  text-align: center;
}

.top {
  margin: auto;
  width: 50%;
}

.red .active a,
.red .active a:hover {
    background-color: red;
}

td {
border-radius: 30px;
}

#wrapper {
    width: 1200px;
    margin: auto;
}

input[type=range][orient=vertical]
{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
  position: absolute;
  top: 600px;
}

#yearContainer {
  position: relative;
  left: 20px; /*370px;*/
  bottom: 278px;/*595px;*/
  font-size: 14px;
  font-weight: bold;
}